{% load static %}

<!DOCTYPE html>

{% block html %}
<html lang="en">

    {% block head %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        {% block title %}{% endblock %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        {% block extra_css %}{% endblock %}
    </head>
    {% endblock %}

    {% block body %}
        <body>
        {% block nav %}
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">

            {% block nav_content %}
                {% block navbar_brand %}
                    <a class="navbar-brand" href="#">Star Wars Explorers</a>
                    <a class="navbar-brand" href="/">collections</a>
                {% endblock %}
                {% block buttons %}
                <form action="/" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">
                        Fetch
                    </button>
                </form>
                {% endblock %}

            {% endblock %}

        </nav>
        {% endblock %}

        <div class="mt-5"></div>

        {% block navbar_after %}{% endblock %}

        {% block body_content %}
            <div class="container">
                {% block container %}{% endblock %}
            </div>
        {% endblock %}

        {% block foot %}
            <footer>
                {% block footer %}{% endblock %}
            </footer>
        {% endblock %}
        {% block extra_js %}{% endblock %}

    </body>
    {% endblock %}

</html>
{% endblock %}