{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
     <link rel="stylesheet" href="{% static 'css/loadMore.css' %}">
{% endblock %}

{% block body_content %}
    <div class="container">
        {% block container %}
        <table class="table">
            <thead>
                <tr scope="col">
                    {% for header in headers %}
                    <th>{{header}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for character in characters %}
                <tr class="char" scope="row">
                    {% for field in character %}
                    <td>{{field}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="#" id="loadMore">Load More</a>
        <a href="#top">Back to top</a>
        {% endblock %}
    </div>

{% endblock %}

{% block extra_js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js/loadMore.js' %}"></script>
{% endblock %}